@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

/*GENERAL*/
:root {
    --primary-color: #b11d3a;
    --primary-color2: #262626;
    --primary-color3: #ffffff;
    --primary-bg: #fdfdfd;
    --primary-color5: #FFDCDE;
    --primary-color6: #181818;
    --primary-color7: #FFEBEB
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito-Sans';
}
body{
    background-color: var(--primary-bg);
    font-size: 2em;
    
}

/*HEADER*/

.navbar {
    display: flex;
    justify-content: space-around;
    margin: 3rem;
}

.navbar-nav a{
    margin: 10px;
    text-decoration: none;
    color: #000;
}
.navbar-select {
    color: var(--primary-color);
    border: none;
    font-size: .8em;
}
.contacts a{
    background-color: #ce0033;
    padding: 1.3rem;
    color: var(--primary-color3);
    border-radius: 35px;
    text-decoration: none;
}

/*MAIN*/

/*BANNIERE*/

#banniere{
    background-image: url("../img/26.png");
    background-size: cover;
    min-height: 45vw;
}
#banniere div{
    width: 70rem;
    color: var(--primary-color3);
    padding:13rem 0 0  15rem;
}
#banniere div h2{
    font-size: 3em;
}
#banniere div input{
    background-color: var(--primary-color);
    padding: 1.3rem;
    color: var(--primary-color3);
    border-radius: 35px;
    border: none;
    font-size: 1em;
}

/*SIMPLON AU SENEGAL*/
#sas{
    background-color: #efefef;
}
.sas{
    display: flex;
    width: 70vw;
    padding: 10rem 0 10rem 28rem;
}
.sas img{
    height: 30vw;
    border-radius: 30px;
}
.sas-containt{
    margin-left: 5rem;
}
.sas-containt h2{
    color: var(--primary-color);
}
.sas-containt p{
    font-size: 1.2em;
}

/*NOS NOUVELLES*/


#nouvelle h2{
    color: var(--primary-color);
    font-size: 3em;
    text-align: center;
    margin: 5rem;
}
#nouvelle h3{
    font-size: 2em;
    margin: 5rem;
    color: var(--primary-color);
}
.nouvelle {
    display: flex;
    justify-content: space-around;
}
.total-nouvel .img-actu .image-actu{
    width: 20vw;
    height: 12vw;
    border-radius: 10px;
}
.total-nouvel{
    width: 20vw;
}
.total-actu .img-actu p{
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;
    padding-bottom: 8px;
    border-radius: 0px 0px 20px 20px;
    margin-left: 200px;
    margin-top: -10px;
    position: absolute;
    background-color: #ce0033;
}
#nouvelle h4{
    color: #ce0033;
    font-size: 1.5em;
    text-align: right;
}
#nouvelle h4 span{
    color: #fff;
    background-color: #ce0033;
    padding: 1rem;
    border-radius: 50%;
}

/*EVENEMENT A VENIR*/

#event h3{
    font-size: 2em;
    padding: 5rem;
    color: var(--primary-color);
}
.grid-container{
    display: flex;
    justify-content: space-around;
}
.grid-container .grid-item{
    background-color: var(--primary-color);
    color: var(--primary-bg);
    display: flex;
    height: 9vw;
    align-items: center;
    justify-content: space-around;
}
.grid-item .date {
    padding: 3rem;
}
.grid-item img{
    width: 50px;
}

/*DECOUVERTE*/
#decouverte{
    margin-top: 7rem;
    margin-bottom: 10rem;
}
.decouverte{
    background-image:url("../img/35.png");
    background-size: cover;
    min-height: 45vw;
}
.decouverte div{
    width: 50vw;
    color: var(--primary-color3);
    padding:30rem 0 0  15rem;
}
.decouverte h2{
    font-size: 3em; 
}
.decouverte p{
    font-size: 1.3em; 
}
#decouverte .decouverte-chiffre{
    background-color: var(--primary-color);
    display: flex;
    position: absolute;
    width: 90vw;
    height: 10vw;
    border-radius: 10px;
    padding: 15px;
    margin-top:-7rem;
    margin-left: 7rem;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    align-items: center;
}

/*FORMATEUR*/
#formateur h3{
    font-size: 2em;
    padding: 5rem;
    color: var(--primary-color);
}
.formateur-item,
.formateur-list{
    display: flex;
}
.formateur-list{
    box-shadow:1px 1px 5px 5px rgba(88, 86, 86, 0.484);
    width: 30vw;
    border-radius: 25px;
}
.formateur-item{
    justify-content: space-around;
}
.formateurs-text h4{
    font-size: 1.5em;
}
.formateurs-text{
    
    margin-top: 10rem;
}
.formateur-list button{
    float: right;
    background-color: var(--primary-color);
    padding: 1.3rem;
    color: var(--primary-color3);
    border-radius: 35px;
    border: none;
    font-size: 1em;
}
.formateur-list img{
    width: 15rem;
    height: 15rem;
    margin: 50px;
    border-radius: 10%;
}

/* APPRENANT */

.apprenant{
    width: 90%;
    margin-top: 10rem;
    display: flex;
    margin-left: 5%;
}
.info-apprenant h3{
    border-bottom: solid 2px #000;
    border-bottom-width: .3vw;
    color: var(--primary-color);
    font-size: 2em;
}
.info-apprenant p{
    padding-top: 90px;
}
.card-apprenant{
    box-shadow: 1px 5px 5px rgba(49, 48, 48, 0.484);
    width: 80vw;
    height: 30vw;
    border-radius: 15px;
    background-color: #f8f8f8;
    margin-left: 70px;
    margin-top: 70px;
    
}
.card-apprenant-1{
    box-shadow: 1px 5px 5px rgba(49, 48, 48, 0.484);
    width: 80vw;
    height: 30vw;
    border-radius: 15px;
    background-color: #f8f8f8;
    margin-right: 70px;
    
}
.card-apprenant-1 p{
    font-weight: bold;
    font-size: 1em;
    padding: 20px;
    
}
.card-apprenant p{
    font-weight: bold;
    font-size: 1em;
    padding: 20px;
    
}
.card-apprenant img{
    border-bottom: solid 4px #ce0033;
    width: 40vw;

}
.card-apprenant-1 img {
    border-bottom: solid 4px #ce0033;
    width: 40vw;
}


    /*EQUIPE PEDAGOGIQUE*/


#pedagogie h3{
    font-size: 2em;
    padding: 5rem;
    color: var(--primary-color); 
}
#pedagogie hr{
    width: 7vw;
    margin: 0 0 5vw 5rem;
}
.img-video-pedagogie img{
    width: 87vw;
    box-shadow:2px 2px 5px 5px rgba(88, 86, 86, 0.459);
}
    
.img-video-pedagogie span{
    width: 10vw;
    color: #efefef;
    height: 1rem;
    border-top-right-radius:  12px;
    border-bottom-right-radius:  12px;
    background-color: var(--primary-color);
}


/*PETITE HISTOIRE DE LA COMMUNAUTE*/

#histoire-commune h3{
    font-size: 2em;
    padding: 5rem;
    color: var(--primary-color); 
}
#histoire-commune hr{
    width: 7vw;
    margin: 0 0 5vw 5rem;
}
.histoire-commune{
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    justify-content: center;
}
.grid-histoire-commune{
    width: 28vw;
    box-shadow:1px 1px 2px 2px rgba(88, 86, 86, 0.087);
    padding: 4rem;
    border-radius: 20px;
}
.histoire-commune-item img{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    margin-right: 5rem;
}
.histoire-commune-item{
    display: flex;
    padding-top: 1rem;
}
.histoire-commune-item div span{
    font-size: 1.6em;
}

/*Formulaire*/
#formulaire h2{
    color: var(--primary-color);
    font-size: 3em;
    text-align: center;
    margin: 5rem;
}
.formulaire{
    display: flex;
    justify-content: center;
}
.form-nom .form-adress{
    display: flex;;
}
.form{
    width: 45rem;
    height: 7rem;
    margin: 1rem;
    color: #6161617d;
    box-shadow:1px 1px 2px 2px rgba(88, 86, 86, 0.087);
}
.formulaire input{
    box-shadow:1px 1px 2px 2px rgba(144, 144, 144, 0.352);
    border: none;
}


.form-message{
    
    width: 92.5rem;
    height: 25rem;
    margin: 1rem;
    color: #6161617d;
}

.form-checkbox{
    display: flex;
    margin: 1rem;
}
#formulaire p{
    padding-left: 3px;
    color: #6161617d;
}
.form-checkbox p span{
    color: var(--primary-color);
    font-weight: bold;
}
.form-formulaire button{
    background-color: var(--primary-color);
    border: none;
    border-radius: 40px;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    padding: 1rem;
    margin: 5px;
}

.adress-mail{
    display: block;
    text-decoration: none;
    color: #6161617d;
}
.adress-div{
    padding-bottom: 1rem;
    padding-left: 3rem;
}
.adress h6{
    font-size: 1.5em;
    margin: 2rem;
}
.adress .adress-div p{
    font-size: 1.5em;
}
/*FOOTER*/
footer{
    background-color: #000;
    background-size: cover;
    min-height: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}
footer section{
    display: block;
    width: 15vw;
}
.p-footer1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}
.p-footer{
    color: #ffffff;
}
.h5-footer{
    color: #ffffff;
    font-size: 1.5em;
}
.form-footer{
    display: flex;
}
.a-footer{
    color: #ffffff;
    text-decoration: none;
}
.button-footer {
    background-color: #ce0033;
    border: none;
    height: 3rem;
    color: #ffffff;
    border-radius: 3px;
}
#mail{
    height: 3rem;
    width: 20rem;
    border-radius: 3px;
}
.footer2{
    display: flex;
    color: #ffffff;
    background-color: #ce0033;
    justify-content: space-between;
    height: 3rem;
    padding: 3rem;
}

@media only screen and ( max-width: 800px){
    body{
        display: block;
    } 
    .navbar{
        background-color: #000;
    }
}